body {
    text-align: justify;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.speech-box {
    width: 40%;
    border-radius: 10px;
    background-color: #efefef;
    padding: 16px 20px;
    position: relative;
}

/* SG box - left aligned */
.sg-box {
    align-self: flex-start;
    background-color: #e1f5fe;
}

.sg-box::after {
    content: "";
    border: 20px solid transparent;
    border-top-color: #e1f5fe;
    bottom: -1.3rem;
    position: absolute;
    left: 1.3rem;
    transform: rotate(270deg);
}

/* USA box - right aligned */
.usa-box {
    align-self: flex-end;
    background-color: #f3e5f5;
}

.usa-box::after {
    content: "";
    border: 20px solid transparent;
    border-top-color: #f3e5f5;
    bottom: -1.3rem;
    position: absolute;
    right: 1.3rem;
    transform: rotate(90deg);
}

/* HK box - centered */
.hk-box {
    width: 50%;
    align-self: center;
    background-color: #e8f5e9;
}

.hk-box::after {
    content: "";
    border: 20px solid transparent;
    border-top-color: #e8f5e9;
    bottom: -1.3rem;
    position: absolute;
    left: 1.3rem;
    transform: rotate(90deg);
}

.container-menu {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 2%;
}

.menu-btn {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  border: 2px solid black;
  border-radius: 20px;
  background-color: transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: absolute;
  bottom: 0%;
}

#next-btn {
  left: 51%
}

#prev-btn {
  right: 51%
}

.menu-btn span {
  display: block;
  padding: 24px;
}

.full-text {
  margin: 0px;
  padding: 0% 10%;
  text-align: justify;
  font-size: 20px;
}